<ion-header>
  <ion-navbar color="primary">
    <ion-title>Selecione os contatos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
    <button ion-item *ngFor="let contato of contatos" (click)="selecionarContato(contato)">
      <ion-avatar item-left>
        <img src='{{contato.contato.fotoURL}}'>
      </ion-avatar>
      <ion-label>
      {{contato.contato.nome}}
    </ion-label>
 
    <ion-icon *ngIf="contato.estado" item-right name="checkmark" color="primary"></ion-icon>
  </button>  
</ion-list>
<ion-fab bottom right>
  <button ion-fab color="primary" (click)="avancar()">
     <ion-icon name="ios-arrow-forward-outline"></ion-icon>
  </button>
</ion-fab>


</ion-content>
